@charset "UTF-8";

body {
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h2 {
    color: mediumblue;
    background-color: dodgerblue;
    font-size: 1.5em;
}
h3 {
    color: darkred;
    font-size: 1.2em;
}
p {
    text-align: justify;
}